<%= form_for(@user) do |f| %>
      <%= f.label :name, "ユーザー名" %>
      <%= f.text_field :name %>

      <%= f.label :email, "メールアドレス" %>
      <%= f.email_field :email %>

      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "パスワードの確認" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "アカウントを作成する" %>
<% end %>
